<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar"
>
  <div *ngIf="!isMenuOpen" class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a (click)="openMenu()" class="nav-item nav-link px-0 me-xl-4">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input
          type="text"
          class="form-control border-0 shadow-none"
          placeholder="Search..."
          aria-label="Search..."
        />
      </div>
    </div>
    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <p-avatar [style]="{'cursor': 'pointer'}"
                  [image]="user.image?.imageBytes && ('data:image/png;base64,' + user.image.imageBytes)"
                  [label]="!user.image?.imageBytes ? (user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase()) : ''"
                  styleClass="mr-2"
                  size="large" shape="circle"
                  [matMenuTriggerFor]="menu"></p-avatar>
        <mat-menu class="customize" #menu="matMenu">
          <div class="pr-4 pl-4 pt-2">
            <div class="d-flex">
              <div class="flex-shrink-0 me-3">
                <div class="avatar avatar-online">
                  <p-avatar [style]="{'cursor': 'pointer'}"
                            [image]="user.image?.imageBytes && ('data:image/png;base64,' + user.image.imageBytes)"
                            [label]="!user.image?.imageBytes ? (user.firstName.charAt(0).toUpperCase() + user.lastName.charAt(0).toUpperCase()) : ''"
                            styleClass="mr-2"
                            size="large" shape="circle"></p-avatar>
                </div>
              </div>
              <div class="flex-grow-1">
                <span class="fw-semibold d-block">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</span>
                <small class="text-muted">{{user.role | titlecase}}</small>
              </div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <button routerLink="/backOffice/account-settings" mat-menu-item>
            <i class="mr-3 font-weight-bold pi pi-user"></i>
            <span>My account</span>
          </button>

          <div class="dropdown-divider"></div>
          <button (click)="logOut()" mat-menu-item>
            <i class="mr-3 font-weight-bold pi pi-sign-out"></i>
            <span>Log out</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>

